/* added color to the five day display card */
#fiveDayForecast {
   background-color: aquamarine;
   margin-top: -110px;
}
/* centers my header text */
.text-center {
    text-align: center;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
/* utilizing for my uvi color change */
.uviColor {
    background-color: transparent;
}
/* gave each day a border for easier readability */
#box2 {
    border-style:groove;
    width: 300px;
    text-align: center;
}

.fixButton {
    margin-left: 70px;
    margin-top: 15px;
}

#addItemBtn {
    margin-top: 10px;
}